:root {
	--color-one: #f7f7f7; /*SYNTAX ---> var(--color-one);*/
	--color-two: #000000;
	--color-three: #777777;
	--color-four: #ffffff;
	--color-five: #f66d1e;
	--color-six: #45ad31;
	--color-seven: #58ba96;
	--color-eight: #b3b3b3;
	--color-nine: #03af70;
	--color-ten: #cf0128;
	--color-eleven: #979797;
}