
body{
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
}

.wrapper{
    width:100%;
    float:left;
    position:relative;
    clear:both;
}

button:focus{
	outline: none !important;
}

.logo-a{
    width:100px;
    display: block;
    position: relative;
}

.top-bar-wrapper{
    background: #ffffff;
}

.quick-contact-block ul{
    float: right;
    position: relative;
    top: 25px;
}

.quick-contact-block li{
    float: left;
    position: relative;
    display: block;
    margin-right: 35px;
}

.quick-contact-block li:last-child{
    margin-right: 0;
}

.quick-contact-block li span{
    display: block;
    position: relative;
    padding-left: 60px;
    color: #adafb5;
}

.quick-contact-block li span::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

.quick-contact-block li span.tp-addr::before{
    background:url(../images/tp-loc.png) no-repeat;
}

.quick-contact-block li span.tp-phone::before{
    background:url(../images/tp-phone.png) no-repeat;
}

.quick-contact-block li span.tp-mail::before{
    background:url(../images/tp-mail.png) no-repeat;
}

.sub-nav-group li a{
	text-transform: capitalize;
}

.flex-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.slider-content h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}

.slider-content p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #ffffff;
}

.slider-active .owl-dots {
    position: absolute;
    left: 20.80%;
    bottom: 45px;
}

.slider-active .owl-dot {
    width: 30px;
    height: 10px;
    background: #eee;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 2px;
}

.slider-active .owl-dot.active {
    background: #fe7012;
    width: 40px;
}


.page-btn{
    padding: 10px 35px;
    border: 2px solid #fe7012;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fe7012;
    position: relative;
    display: table;
    z-index: 777;
    overflow: hidden;
    -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.page-btn:hover{
    color: #ffffff;
}

.page-btn::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top:0;
    width: 0;
    height: 100%;
    background: #fe7012;
    -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.page-btn:hover::before{
    width: 100%;
}

.navigation-wrapper{
    background:#242a2d;
}

.nav-item > a {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 75px;
}

.nav-item > a > span{
	color: #ffffff;
	text-transform: uppercase;
}

.nav-item > a:focus, .nav-item > a:hover, .nav-item > a.open {
    color: #ffffff !important;
    background-color: #fe7012;
}

.nav-item > a:focus > span, .nav-item > a:hover > span, .nav-item > a.open > span{
    color: #ffffff !important;
}

.nav-item > a:focus::after, .nav-item > a.open::after {
    border-top-color: #fe7012;
}

.sub-nav-group li a:hover{
    background:none;
    color:#fe7012;
}

.sub-nav-group li a:hover span{
    color:#fe7012;
}


.product-wrapper{
    padding:40px 0;
    background:#f7f7f7;
}

.product-wrapper .title-grp{
	margin-bottom:10px;
}

.product-wrapper .title-grp h1.main-title{
	font-size: 34px;
	font-weight: 500;
	text-align:center;
    text-transform:uppercase;
    color:#684f40;
}

.product-wrapper .title-grp h2.subtitle{
	font-size: 16px;
	font-weight: 400;
	text-align:center;
	text-transform:capitalize;
    padding:5px 0;
    color:#777777;
}

.each-product-list{
	margin-bottom:30px;
}

.product-imgarea-grp{
	display:block;
	width:260px;
	margin:0 auto;
	overflow:hidden;
}

.product-imgarea-grp > span{
	display:block;
}

.product-cntrls li{
	display:block;
	float:left;
	margin-right:15px;
}

.product-cntrls{
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -45px;
	margin-top: -20px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.product-cntrls.fadeOut{
	display:none;	
}

.product-cntrls li:last-child{
	margin-right:0;
}

.product-cntrls li a{
	display:block;
	font-size:16px;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:100%;
	position:relative;
    text-align:center;
    color:#ffffff;
	background:#000000;
}


.product-list-detail h1.main-title a{
	font-size:22px;
	padding-bottom:5px;
    display:block;
    color:#684f40;
}

.product-list-detail span.subtitle{
	display:block;
	clear:both;
	font-size:13px;
}

.rateyo-readonly-widg{
	padding-left:0;
	padding-top:15px;
}

.product-price{
	display:block;
	clear:both;
	position:relative;
	padding:10px 0 0;
	font-size:22px;
	font-weight:600;
}

.product-badge{
	width: 50px; 
	height: 50px; 
	position: absolute;
	top:0;
	right:20px; 
	text-align: center;
	line-height:50px;
	z-index:123;
	display:block;
	z-index:111;
	font-size: 12px;
	text-transform:uppercase;
    font-weight:600;
    color:#ffffff;
}

.product-badge::before, .product-badge::after{
	 content: "";
	 position: absolute; 
	 top: 0; 
	 left: 0; 
	 height: 50px; 
	 width: 50px;
	 z-index:-1;
}

.product-badge::before { 
	-webkit-transform: rotate(30deg); 
	-moz-transform: rotate(30deg); 
	-ms-transform: rotate(30deg); 
	-o-transform: rotate(30deg); 
} 

.product-badge::after { 
	-webkit-transform: rotate(60deg); 
	-moz-transform: rotate(60deg); 
	-ms-transform: rotate(60deg);
	 -o-transform: rotate(60deg); 
}

.product-badge.offr-badge, .product-badge.offr-badge::before, .product-badge.offr-badge::after{
	background:#f66d1e;
}

.product-badge.new-badge, .product-badge.new-badge::before, .product-badge.new-badge::after{
	background:#45ad31;
}

.product-badge.new-off-badge, .product-badge.new-off-badge::before, .product-badge.new-off-badge::after{
	background:#58ba96;
}

.choose-content-wrp{
    padding:40px 0 0;
}

.choose-content-wrp .title-grp h1.main-title{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #684f40;
}

.choose-content-wrp .title-grp h2.subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 0;
    color: #777777;
}

.choose-content-block{
    margin-top: 30px;
}

.each-choose-content{
	padding-bottom:50px;
	z-index:999;
}

.each-choose-content::after{
	content:"";
	position:absolute;
	right:35px;
	top:0;
	width:1px;
	height:100%;
	background:#cccccc;
	z-index:-1;
}

.content-rt-block .each-choose-content::after{
	left:35px;
}

.chose-content-div > span{
    display: block;
    text-align: right;
}

.chose-sec-image{
	display:block;
	margin:0 auto;
	width:300px;
}

.choose-count-box {
    width: 60px;
    height: 60px;
    display: table;
    margin: 0 auto;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #fe7012;
    z-index: 9999;
}

.contact-details{
    display: inline-block;
   margin-bottom: 55px;
   margin-top: -100px;
   width: 100%;
}

.contact-details::before, .contact-details::after {
   border-bottom: 60px solid #fe7012;
   content: "";
   position: absolute;
   top: 0;
}

.contact-details::before {
    border-left: 20px solid transparent;
    left: -34px;
 }

.contact-details::after {
   border-right: 20px solid transparent;
   right: -34px;
}

.contact-details .detail-box, .contact-details .detail-box a {
   color: #fff;
}
.contact-details .detail-box {
   background-color: #fe7012;
   padding: 30px 15px 30px 97px;
}
.contact-details, .contact-details .detail-box {
   position: relative;
}

.contact-details .detail-box i {
   background-color: #df6311;
   border-bottom: 1px solid #df6311;
   height: 61px;
   left: 0;
   line-height: 60px;
   position: absolute;
   text-align: center;
   width: 56px;
}

.contact-details .detail-box i img{
   margin: 18px auto;
}

.contact-details .detail-box h4 {
   font-size: 13px;
   font-weight: 900;
   letter-spacing: 1px;
   margin: 0 0 10px;
   text-transform: uppercase;
}

.contact-details .detail-box p {
   font-size: 13px;
   line-height: 20px;
   margin-bottom: 0;
   padding:0;
}

.footer-wrapper{
    padding:40px 0;
    background: #22202e;
}

.footer-title {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #2f2f2f;
    position: relative;
    font-size: 17px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.footer-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: -1px;
    left: 0;
    background: #fe7012;
}

.quick-contact-footer li {
    clear: both;
    position: relative;
    margin-bottom: 8px;
}

.quick-contact-footer li span {
    display: block;
    position: relative;
    padding: 7px 0 0 35px;
}

.quick-contact-footer li span::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fe7012;
    font-size: 17px;
    position: absolute;
    top: 8px;
    left: 0;
}

.quick-contact-footer li span.foot-addr::before {
    content: "\f041";
}

.quick-contact-footer li span.foot-phone::before {
    content: "\f095";
}

.quick-contact-footer li span.foot-mail::before {
    content: "\f003";
}

.quick-contact-footer li span.foot-fax::before {
    content: "\f1ac";
}

.working-hours {
    border-collapse: separate;
    border-spacing: 0 6px;
    width: 100%;
    border: 2px solid #525157;
    margin: 15px 0;
}

.working-hours tr {
    border-bottom: 1px dashed #292929;
    display: table;
    width: 100%;
}

.working-hours th, .working-hours td {
    border: medium none;
    padding: 1px 7px;
    vertical-align: middle;
    font-size: 13px;
}

.working-hours th {
    border-radius: 3px 0 0 3px;
    font-weight: 400;
    text-align: left;
}

.working-hours td {
    color: #ffffff;
    border-radius: 0 3px 3px 0;
    text-align: right;
    white-space: nowrap;
}

.quick-nav-footer li {
    float: left;
    position: relative;
    display: block;
    width: calc(50% - 2px);
    margin-bottom: 25px;
}

.quick-nav-footer li a {
    display: block;
    position: relative;
    padding-left: 21px;
    font-size: 13px;
    text-transform: capitalize;
}

.quick-nav-footer li a::before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fe7012;
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
}

.quick-nav-footer li a:hover{
    color: #fe7012;
}

.social-nav-footer ul{
    float: right;
}

.social-nav-footer li {
    display: block;
    float: left;
}

.social-nav-footer li a {
    display: block;
    position: relative;
    font-size: 14px;
    padding-right: 30px;
    color: #ffffff;
}

.page-banner-wrapper{
    background:url(../images/innerpg-banner.jpg) no-repeat center center;
    padding: 100px 0;
    -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.page-banner-wrapper::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.page-banner-block h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

.page-banner-block h2{
	display:block;
	clear: both;
	color:#ffffff;
	position: relative;
	padding: 7px 0;
	text-align: center;
	font-size: 14px;
}

.products-pg{
    padding: 45px 0;
}

.products-pg .main-title a{
    text-align: center;
}

.products-pg .subtitle{
    text-align: center;
}

.products-pg .rateyo-readonly-widg{
    margin: 0 auto;
    float: none;
}

.products-pg .product-price{
    text-align: center;
}

.products-pg .each-product-list {
    margin-bottom: 60px;
}

.pagination-block ul{
    display: table;
    margin: 15px auto;
    position: relative;
}

.pagination-block ul li{
    float: left;
    margin-right: 12px;
    position: relative;
    display: block;
}

.pagination-block ul li:last-child{
    margin-right: 0;
}

.pagination-block ul li a{
    display: block;
    border: 1px solid #ddd;
    font-weight: 400;
    height: 35px;
    text-align: center;
    line-height: 35px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
	transition: all 0.5s;
	padding:0 16px; 
	background: #ffffff;
}

.pagination-block ul li a:hover, .pagination-block ul li.active a, .pagination-block ul li.active:hover{
    background: #fe7012;
    color: #ffffff;
    border: 1px solid #fe7012;
}


.product-detail-wrapper{
	padding:40px 0;
}

.flexslider{
	margin-bottom:10px;
}

.slides li{
	position:relative;
}

.product-detail-contents h1.main-title{
	font-size: 30px;
	font-weight: 600;
}

.product-detail-contents span.subtitle{
	display: block;
	clear: both;
	font-size: 13px;
	padding:7px 0;
}

.product-detail-contents .rateyo-readonly-widg{
	padding:0;
}

.product-price-full{
	margin:20px 0;
}

.product-price-full h3{
	display:block;
	padding:0;
	margin:0;
	position:relative;
}

.product-price-full h3 em{
	text-decoration:line-through;
	font-size:16px;
	display:inline-block;
}

.product-price-full h3 span{
	font-size:32px;
	display:inline-block;
	position:relative;
	left:15px;
}

.stock-metas{
	margin-bottom:25px;
}

.stock-metas > ul > li{
	display:block;
	clear:both;
	margin-bottom:10px;
	position:relative;
	width:100%;
	float:left;
}

.stock-metas > ul > li label{
	display:inline-block;
	width:150px;
	font-size:13px;
	float:left;
	text-transform:capitalize;
	font-weight:500;
}

.stock-metas > ul > li span{
	display:inline-block;
	font-size:13px;
	float:left;
	text-transform:capitalize;
}

.in-stock{
	color: #45ad31;
}

.out-stock{
	color: #f44542;
}

.stock-metas > ul > li > .curnt-category-list{
	display:inline-block;
	float:left;
	position:relative;
}

.stock-metas > ul > li > .curnt-category-list li{
	display:block;
	float:left;
	position:relative;
	margin-right:15px;
}

.stock-metas > ul > li > .curnt-category-list li:last-child{
	margin-right:0;
}

.stock-metas > ul > li > .curnt-category-list li a{
	display:block;
	text-transform:capitalize;
	font-size:13px;
	position:relative;
	padding-left:20px;
}

.stock-metas > ul > li > .curnt-category-list li a::before{
	content: '\f097';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 15px;
	display: inline-block;
	position:absolute;
	left:0;
	top:0;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { 
	width:25px; 
	height:25px;
}

input.qtyminus { 
	width:25px; 
	height:25px;
}

.qty-txt{
	padding:0 40px !important;
	height:40px;
	text-align:center;
}

input.qty-c{
	display:block;
	position:absolute;
	top:0;
	text-align:center;
	font-size:17px;
	height:40px;
	width:40px;
	height:40px;
}

.qty-c.qtyminus{
	border-radius:5px 1px 1px 5px;
	left:0;
}

.qty-c.qtyplus{
	border-radius:1px 5px 5px 1px;
	right:0;
}

.page-btn{
	display:table;
	position:relative;
	overflow:hidden;
	font-family: 'Montserrat', sans-serif;
	background:none;
	text-transform:capitalize;
	text-align:center;
	padding:20px;
	font-weight:600;
	z-index:777;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.page-btn.ordr-submit{
	min-width:200px;
}

.page-btn.ordr-submit i{
	position:relative;
	left:-10px;
}

.page-btn::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:100%;
	z-index:-1;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.page-btn:hover{
    color: #ffffff;
}

.page-btn:hover::before{
	width:100%;
}


.product-detail-wrapper{
	padding:40px 0 120px;
}

.product-description{
	padding: 15px 0;
}

.flexslider{
	margin-bottom:10px;
}

.slides li{
	position:relative;
}

.product-detail-contents h1.main-title{
	font-size: 30px;
	font-weight: 600;
}

.product-detail-contents span.subtitle{
	display: block;
	clear: both;
	font-size: 13px;
	padding:7px 0;
}

.product-detail-contents .rateyo-readonly-widg{
	padding:0;
}

.product-price-full{
	margin:20px 0;
}

.product-price-full h3{
	display:block;
	padding:0;
	margin:0;
	position:relative;
}

.product-price-full h3 em{
	text-decoration:line-through;
	font-size:16px;
	display:inline-block;
}

.product-price-full h3 span{
	font-size:32px;
	display:inline-block;
	position:relative;
	left:15px;
}

.stock-metas{
	margin-bottom:25px;
}

.stock-metas > ul > li{
	display:block;
	clear:both;
	margin-bottom:10px;
	position:relative;
	width:100%;
	float:left;
}

.stock-metas > ul > li label{
	display:inline-block;
	width:150px;
	font-size:13px;
	float:left;
	text-transform:capitalize;
	font-weight:500;
}

.stock-metas > ul > li span{
	display:inline-block;
	font-size:13px;
	float:left;
	text-transform:capitalize;
}

.stock-metas > ul > li > .curnt-category-list{
	display:inline-block;
	float:left;
	position:relative;
}

.stock-metas > ul > li > .curnt-category-list li{
	display:block;
	float:left;
	position:relative;
	margin-right:15px;
}

.stock-metas > ul > li > .curnt-category-list li:last-child{
	margin-right:0;
}

.stock-metas > ul > li > .curnt-category-list li a{
	display:block;
	text-transform:capitalize;
	font-size:13px;
	position:relative;
	padding-left:20px;
}

.stock-metas > ul > li > .curnt-category-list li a::before{
	content: '\f097';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 15px;
	display: inline-block;
	position:absolute;
	left:0;
	top:0;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { 
	width:25px; 
	height:25px;
}

input.qtyminus { 
	width:25px; 
	height:25px;
}

.qty-txt{
	padding:0 40px !important;
	height:40px;
	text-align:center;
}

input.qty-c{
	display:block;
	position:absolute;
	top:0;
	text-align:center;
	font-size:17px;
	height:40px;
	width:40px;
	height:40px;
}

.qty-c.qtyminus{
	border-radius:5px 1px 1px 5px;
	left:0;
}

.qty-c.qtyplus{
	border-radius:1px 5px 5px 1px;
	right:0;
}

.each-footer-block .logo-a{
	margin-bottom: 15px;
}

.inner-wrapper{
	padding: 40px 0 100px;
}

.abtus-img{
	display:block;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.title-grp{
	margin-bottom: 15px;
}

.title-grp h1.main-title{
	font-size: 34px;
	font-weight: 500;
	text-transform:capitalize;
	color: #684f40;
}

.who-weare-wrapper{
	background:url(../images/whoweare-bg.jpg) no-repeat center center fixed;
    padding: 45px 0;
    -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.who-weare-wrapper::before{
	content: "";
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.65);
}

.who-weare-contentarea .title-grp h1.main-title{
	color: #ffffff;
}

.who-weare-contentarea p{
	color: #ffffff;
}

.who-weare-img{
	display: block;
	width:400px;
	margin: 0 auto;
	border: 2px solid #fafafa;
}

.testimonial-wrapper{
	padding:45px 0 120px;
	background: #f8f8f8;
}

.testimonials-block .title-grp h1.main-title, .testimonials-block .title-grp h2.subtitle{
	text-align: center;
	display: block;
	clear: both;
}

.testimonials-block .title-grp h1.main-title{
	font-size: 34px;
	font-weight: 500;
	text-transform:capitalize;
	color: #684f40;
}

.testimonials-block .title-grp h2.subtitle{
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	padding: 5px 0;
	color: #777777;
}

.each-testi-block p{
	text-align:center;
	font-size:14px;
	color: #777777;
	line-height: 30px;
	font-style: italic;
	padding: 25px 0;
}

.each-testi-block h1{
	font-size: 17px;
	font-weight: 500;
	text-transform:capitalize;
	color: #684f40;
	text-align: center;
}

.each-testi-block span{
	font-size: 15px;
	font-weight: 500;
	text-transform:capitalize;
	color: #777777;
	text-align: center;
	display: block;
}

.owl-dots{
	display: table;
	margin: 25px auto;
}

.owl-dot {
	float: left;
	margin-right: 12px;
}

.owl-dot span{
	display: block;
	width:15px;
	height: 15px;
	border-radius:100%;
	background: #999999;
}

.owl-dot.active span{
	background: #fe7012;
}

.product-list-block .title-grp h1.main-title{
	text-align: center;
	display: block;
	clear: both;
	font-size: 34px;
	font-weight: 500;
	text-transform:capitalize;
	color: #684f40;
}

.product-list-block .title-grp h2.subtitle{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	padding: 5px 0;
	color: #777777;
}

.search-area-block{
	width:70%;
	margin: 0 auto 25px;
	clear: both;
	position: relative;
}

.search-txtbox{
	padding-right: 45px !important;
	height: 40px !important;
}

.search-submit{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	background:#fe7012;
}

.products-listings-area{
	margin: 25px 0;
}

.product-list-detail h1.main-title a, .product-list-detail span.subtitle, .product-list-detail .product-price{
	text-align: left;
}

.pagination-block{
	margin-bottom: 35px;
}

.contact-form-wrapper{
	padding: 45px 0 120px;
}

.contact-form-wrapper .title-grp{
	padding-bottom: 25px;
}

.contact-form-wrapper .title-grp h1.main-title{
	text-align: center;
}

input[type="text"],input[type="email"],input[type="url"],input[type="search"],input[type="phone"]{ 
	height:45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

textarea{
	height: 125px !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px !important;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="phone"]:focus, textarea:focus{ 
	box-shadow:none !important;
	border:1px solid #fe7012 !important;
}

.slider-active .owl-dot span{
	display: none;
}

.sub-nav-group li a{
	position: relative;
	padding-left: 20px;
}

.sub-nav-group li a::before{
	content: '\f105';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 15px;
	display: inline-block;
	position:absolute;
	left:0;
	top:0;
}

.socialmedia-block {
	margin-top: 15px;
}

.socialmedia-block li{
	float: left;
	position: relative;
	margin-right: 15px;
}

.socialmedia-block li a{
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	border-radius:100%;
	border: 1px solid #e4e4e4;
	text-align: center;
	line-height: 50px;
	color: #cccccc;
}

.socialmedia-block li a:hover{
	border-color:#fe7012;
	color:#ffffff;
	background:#fe7012;
}

@media (max-width: 991px) {

	.quick-cnt-head{
		display: none;
	}

	.logo-a{
		margin: 0 auto;
	}

	.mobile-menu-button{
		margin: 0 auto;
	}

	.mobile-menu-button{
		background: none;
	}

	.slider-content ul, .product-img-grp, .rateyo-readonly-widg{
		display: table;
		margin: 0 auto;
		width: auto;
	}

	.product-img-grp{
		margin-bottom: 15px;
	}

	.product-list-detail, .product-price{
		text-align: center;
	}

	.product-list-detail > .wrapper{
		top:0;
	}

	.contact-details .detail-box{
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
	}
	
	.contact-details .detail-box:last-child{
		padding-bottom:30px;
	}
	
	.contact-details .detail-box i{
		position:relative;
	}
	
	.contact-details .detail-box h4, .contact-details .detail-box p{
		text-align:center;
	}

	.chose-img-wrp{
		display: none;
	}
	
	.each-choose-content::after{
		background: none;
	}

	.choose-content-block{
		margin-bottom: 100px;
	}

	.quick-nav-footer li{
		width: calc(25% - 2px);
	}

	.quick-nav-footer li a::before{
		top: -4px;
	}

	.footer-title::before{
		left: 50%;
		margin-left: -25px;
	}

	.who-weare-img{
		width: 270px;
	}

	.page-banner-wrapper{
		padding: 50px 0;
	}
	
	.page-banner-block h1{
		font-size: 28px;
	}

	.socialmedia-block ul {
		margin: 15px auto 30px;
		display: table;
	}
	
}

@media (max-width: 767px) {
	.product-detail-contents span.subtitle{
		text-align: center;
	}

	.product-description{
		text-align: center;
	}

	.stock-metas ul{
		display: table;
		margin: 0 auto;
	}

	.page-btn.ordr-submit{
		display: table;
		margin: 0 auto;
	}
}

@media (max-width: 580px) {
	.quick-nav-footer li{
		width: calc(50% - 2px);
	}

	.contact-details, .contact-details .detail-box{
		overflow: hidden;
	}

	.slider-content{
		display: none;
	}

	.chose-content-div > span{
		text-align: center;
		margin: 15px 0;
		display: block;
	}

}