
@import url("color-val.css");

.product-detail-contents h1.main-title{
	color:var(--color-two);
}

.product-price-full h3 em{
	color:var(--color-eight);
}	

.product-price-full h3 span{
	color:var(--color-two);
}	

.stock-metas li label{
	color:var(--color-three);
}

.product-badge{
	color:var(--color-four);
}

.product-badge.offr-badge, .product-badge.offr-badge::before, .product-badge.offr-badge::after{
	background:var(--color-five);
}

.product-badge.new-badge, .product-badge.new-badge::before, .product-badge.new-badge::after{
	background:var(--color-six);
}

.product-badge.new-off-badge, .product-badge.new-off-badge::before, .product-badge.new-off-badge::after{
	background:var(--color-seven);
}

.stock-metas > ul > li > .curnt-category-list li a{
	color:var(--color-five);
}

.stock-metas > ul > li > .curnt-category-list li a::before{
	color:var(--color-five);
}

.in-stock{
	color:var(--color-nine);
}

.out-stock{
	color:var(--color-ten);
}

input.qty-c{
	background:var(--color-eleven);
}

.page-btn{
	color:var(--color-five);
	border:1px solid var(--color-five);
}

.page-btn::before{
	background:var(--color-five);
}

.page-btn:hover{
	color:var(--color-four);
}