Reset
*/



html, body {
    font-size: 100%;
    width: 100%;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b, i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer, header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:none;outline:none;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
button, input, select, textarea {font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;} button, input {line-height:normal;} button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button;cursor:pointer;*overflow:visible;} button[disabled], input[disabled] {cursor:default;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;padding:0;*height:13px;*width:13px;} input[type="search"] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;} input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;} button::-moz-focus-inner, input::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[class="btn"]::-moz-focus-inner {border:0;padding:0;} input[type="submit"]:focus, input[class="btn"]:focus {outline:none;}
nav ul, ul, li{list-style:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ul,ol{list-style:none;list-style-type:none}
body{margin:0;}
strong,th{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,td img{vertical-align:top;border:none} 
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
pre{padding: 15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
::-moz-selection{background:#cc9900;color:#fff;text-shadow:none}
::selection{background:#972e09;color:#fff;text-shadow:none}
h1,h2,h3,h4,h5,h6, #recent-projects ul li strong{font-weight:700; letter-spacing:0;}
h3,h4,h5,h6{letter-spacing:-1px}
h1{font-size:25px; color:#666666;}
h1 span{font-size:26px; line-height:30px}
h2{font-size:20px;font-weight:normal; line-height:22px;  color:#666666;}
h3{font-size:18px; line-height:20px}
hgroup{ padding-bottom:20px;}
hgroup h1{font-size:42px; font-weight:normal; line-height:44px}
hgroup h3{font-size:26px; font-weight:normal; color:#007dc3}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;text-decoration:none;outline:none; cursor:pointer;}

select,input,textarea,button{font:99% sans-serif}
input,select{vertical-align:middle}
input{border:none;border:0}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
input[type="text"],textarea{
	border:1px solid #e4e4e4;
}
input[type="submit"], .btn{cursor:pointer;border:none;outline:none;border:0; color:#fff; font-weight:bold}
input[type="text"]:focus{outline:none; line-height:20px}
button,input,select,textarea{margin:0}
input[type="text"],input[type="email"],input[type="url"],input[type="search"],textarea{ outline:none;height:36px; line-height:36px; padding:0 10px;}
input[type="button"],button{width:auto;overflow:visible; cursor:pointer; background:#65a7cb; color:#fff; border:0; padding:0 10px;}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}*/
input.invalid{ border: 1px solid #F36 !important}

a:focus{outline:none; text-decoration:none;}
a:hover{outline:none; text-decoration:none;}
textarea{overflow:auto;line-height:20px}
body,select,input,textarea{color:#666}


label{
	cursor:text;
	display: inline-block;
    font-weight: 500;
    margin-bottom: 5px;
    max-width: 100%;
	font-size:14px;
}

a img{
	width:100%;
	display:block;
}

span img{
	width:100%;
	display:block;
}

img{
	border:none;
	display:block;
}
ul{
	margin:0;
	padding:0;
}


select,input,textarea{
	color:#666
}



textarea{
	overflow:auto;
	line-height:20px;
	resize:none;
	min-height:90px;
	width:100%;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


a{
	text-decoration:none;

}

a:focus{
	outline:none;
}

a:hover{
	outline:none;
}


span, em, a, button{
	font-size:14px;
	color:#666666;
	outline:none;
	text-shadow:none;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

i{
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}


em{
	font-style:normal;
}



p{
	line-height:25px;
	font-size:14px;
	color:#666666;
	margin:0;
	text-shadow:none;
	padding:7px 0;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	color:#666666;
	margin:0;
	padding-bottom:5px;
	position:relative;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

h1{
	font-size:45px;
}

h2{
	font-size:35px;
}

h3{
	font-size:30px;
}

h4{
	font-size:25px;
}

h5{
	font-size:17px;
}

h6{
	font-size:14px;
}


.sec-block{
	display:block;
}


.txt-center{
	text-align:center;
}

.txt-left{
	text-align:left;
}

.txt-right{
	text-align:right;
}

.white-txt{
	color:#ffffff !important;
}

.white-bckg{
	background:#ffffff !important;
}

.txt-up{
	text-transform:uppercase;
}

.txt-cap{
	text-transform:capitalize;
}

.txt-low{
	text-transform:lowercase;
}

.txt-italic{
	font-style:italic;
}

.align-center{
	display:table;
	margin:0 auto;
	float:none;
}

.cover-img{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  width:100%;
  display:block;
}

.full-img{
	width:100%;
	display:block;
	position:relative;
}


/*spacing padding and margin for top and bottom*/

 .lt-pad{
 	padding:10px 0;
 }
 
 
 .md-pad{
 	padding:25px 0;
 }
 
 .hi-pad{
 	padding:40px 0;
 }
 
 .space{
 	margin:10px 0;
 }	
 
 .pad-tp-none{
 	padding-top:0;
 }
 
 .pad-bt-none{
 	padding-bottom:0;
 }
 
 .pad-lt-none{
 	padding-left:0;
 }
 
 .pad-rt-none{
 	padding-right:0;
 }
 
 .full-pad{
 	padding:15px;
 }
	
/*spacing padding and margin*/


.pgwrp{ /*this is the parent div for contents in website [after body tag use this]*/
	margin:0;
	padding:0;
	width:100%;
	float:left;
	clear:both;
	position:relative;
}

/*.wrp used on all full width areas*/
.wrp{ 
	width:100%;
	float:left;
	clear:both;
	position:relative;
}



.sec-title{
	display:block;
	padding-bottom:15px;
}


/*top bar*/
	
.top-bar{
	padding:4px 0;
	background:#e8e6e6;
}

.top-bar .social li a{
	color:#333333;
}
	

/*top bar*/


header{
	background:#414142;
}	





/*navigation*/

 .nav-ul{
 	float:right;
 }
 
 .nav-ul> li{
 	float:left;
	margin-right:10px;
	position:relative;
 }
 
 .nav-ul > li > a{
 	text-align:center;
	padding:0 14px;
	font-size:14px;
	display:block;
	line-height:80px;
	text-transform:uppercase;
	
 }
 
 /* .nav-ul > li > a:hover{
  	background:#f47b64;
	color:#ffffff;
  }
  
  .nav-ul > li.active > a{
  	background:#f47b64;
	color:#ffffff;
  }
  
  .drp-active > a{
		background:#f47b64;
		color:#ffffff;
  }
  */
	
.dropdwn-menu{
  display: none;
  position: absolute;
  top: 100%;
  width: 200px;
  margin-top: 0;
  background: #414142;
  z-index: 2;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
 
  .dropdwn-menu li{
	clear:both;
	float:none;
	margin-right:0;
  }
 
 .dropdwn-menu li a{
	position:relative;
	color: #ffffff;
    padding: 10px 14px;
	line-height:normal;
	text-align:left;
	display:block;
	text-transform:capitalize;
 }
 
/* .dropdwn-menu li a:hover, .dropdwn-menu li.active a{
 	background:#f47b64;
	color:#ffffff;
 }*/
 
/*navigation*/


/*footer*/

.footer-wrp{
	padding:15px 0;
}

.copy-right{
	display:block;
}

.copy-right p a{
	color:#f47b64;
}

.social ul{
	float:right;
}

.social li {
	float:left;
	margin-right:7px;
}

/*footer*/


/*scroll to top*/
	
.scrollToTop{
	width:40px; 
	height:40px;
	line-height:40px;
	text-align:center; 
	font-weight: bold;
	background:#858483;
	color: #ffffff;
	font-size:28px;
	text-decoration: none;
	position:fixed;
	bottom:25px;
	right:40px;
	display:none;
	opacity:0.90;
	cursor:pointer;
	z-index:9999;
	-webkit-perspective:100px;
	perspective:100px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	 -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	
}

.scrollToTop:hover{
	color:#ffffff;
	background:#f47b64;
	opacity:1;
}

.scrollToTop i{
	line-height:40px;
}	
	

/*scroll to top*/


/*breadcrumb*/
	
	.breadcrumb-wrp{
		position:relative;
		background:url(../images/breadcrumb.jpg) no-repeat;
	}
	
	.breadcrumb-wrp::before{
		content:"";
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		background-color: rgba(0, 0, 0, 0.6); 
	}
	
	.breadcrumb-sec{
		float:right;
		position:relative;
	}
	
	.breadcrumb-sec a{
		position:relative;
		color:#f47b64;
		padding:0 16px;
	}
	
	.breadcrumb-sec a::after{
		content: "\f105";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		font-size: 18px;
		position: absolute;
		top: -6px;
		right:-16px;
		color:#CCCCCC;
	}
	
	.breadcrumb-sec span{
		padding-left:20px;
	}

/*breadcrumb*/


/*Other elements for usage*/
	
.orng-txt{
	color:#f47b64;
}

.orng-bckg{
	background:#f47b64;
}	
	
.box{
	border:1px solid #e4e4e4;
	margin:30px 0 0;
}

figure{
	position:relative;
	margin:0;
}

.in{
	padding:15px;
	position:relative;
}

.brdr-tp{
	border-top:1px solid #e4e4e4;
}

.brdr-tp-none{
	border-top:none;
}

.brdr-bt{
	border-top:1px solid #e4e4e4;
}

.brdr-bt-none{
	border-bottom:none;
}

.brdr-lt{
	border-left:1px solid #e4e4e4;
}

.brdr-lt-none{
	border-left:none;
}

.brdr-rt{
	border-top:1px solid #e4e4e4;
}

.brdr-rt-none{
	border-right:none;
}

.full-brdr{
	border:1px solid #e4e4e4;
}

.clr{
	clear:both;
}

video{
	width:100%;
}

.srch-submit{
	background:#333333;
	position:absolute;
	right:0;
	top:0;
	box-shadow:none;
	margin:0;
	border-radius:0 4px 4px 0;
}

.srch-txt{
	padding-right:45px !important;
}

.bld-txt{
	font-weight:bold;
}


.pagination{
	display:table;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}

.pagination li{
	float:left;
	display:block;
}

.pagination li:first-child a{
	border-left:1px solid #e4e4e4;
}

.pagination li a{
	display:block;
	text-align:center;
	height:35px;
	line-height:35px;
	padding:0 24px;
	font-size:18px;
	color:#34424a;
	border-right:1px solid #e4e4e4;
}

.pagination li a span{
	line-height:35px;
	display:block;
}

.pagination li a span i{
	line-height:35px;
}

.pagination li a:hover{
	background:#f47b64;
}

.pagin-active a{
	background:#f47b64;
	
}

.pagin-active a:hover{
	background:#f47b64 !important;
}

.pagination li a:hover span{
	color:#ffffff !important;
}

.pagin-active a span{
	color:#ffffff;
}



/*Other elements for usage*/


@media (max-width: 1199px) {
	
	
	 .nav li a{
	 	padding:0 5px;
	 }
	
}



@media (max-width: 991px) {

  
  .nav{
	display:none;
  }
  


  p, h1, h2, h3, h4, h5, h6, h5 a, a h5{
	 text-align:center;
   }
	

}

